.main-intro-section {
  background-color: rgb(0, 0, 0);
}

.intro-image-container {
  width: 50%;
  border-radius: 15px 15px 15px 0;
  clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
}

.intro-image-container img{
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 15px 0;
  object-fit: cover;
  object-position: left center;
}

.intro-layer {
  width: 60%;
  background-color: rgba(0,0,0, 0.5);
  transform: translate(-35%);
  clip-path: polygon(0 0, 87% 0, 69% 79%, 0 79%);
}

.intro-text {
  width: 60%;
}

.intro-subtitle {
  color: var(--accent-color);
  font-weight: 100;
  font-family: var(--intro-header-font), Arial, Helvetica, sans-serif;
}

.intro-paragraph {
  color: var(--font-color-secondary);
}