.projects-container {
  background-color: #000000;
  border-radius: var(--border-radius);
  color: var(--font-color-secondary);
}

.projects-card-container {
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  margin-top: 40px;
  padding: 0 30px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 30px;
  color: #cba6a6;
  background-color: rgba(84, 21, 112, 0.4);
  gap: 20px;
}

.project-card:hover {
  border: 2px solid var(--accent-color);
}

.project-card-image {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.project-image {
  height: 100%;
  width: 100%;
  border: 2px solid transparent;
  object-fit: cover;
  display: block;
}

.project-card-title {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1rem;
  text-wrap: nowrap;
}

.card-icon {
  height: 60px;
}

.card-links a {
  text-decoration: none;
}

.project-image:hover {
  border: 2px solid var( --accent-color);
}

@media (min-width: 340px) and (max-width: 1280px) {

  .projects-card-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .project-card {
    padding: 30px 10px;
  }

  .project-image {
    height: 90%;
    width: 90%;
    place-self: center;
  }
}