.skills-container {
  color: var(--font-color-secondary);
  padding-bottom: 30px;
}

.bubble {
  opacity: 0.4;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.3ms;
}

.skills-section {
  width: 90%;
}

.skills-card-container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  font-family: var(--skills-font), Arial, Helvetica, sans-serif;
}

.skill-card {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 1280px) {
  .skills-card-container {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}